In [1]:
from tensorflow.keras.datasets import imdb
(train_data, train_labels), (test_data, test_labels) = imdb.load_data(
    num_words=10000)

In [2]:
# 첫번째 리뷰
train_data[0]

[1,
 14,
 22,
 16,
 43,
 530,
 973,
 1622,
 1385,
 65,
 458,
 4468,
 66,
 3941,
 4,
 173,
 36,
 256,
 5,
 25,
 100,
 43,
 838,
 112,
 50,
 670,
 2,
 9,
 35,
 480,
 284,
 5,
 150,
 4,
 172,
 112,
 167,
 2,
 336,
 385,
 39,
 4,
 172,
 4536,
 1111,
 17,
 546,
 38,
 13,
 447,
 4,
 192,
 50,
 16,
 6,
 147,
 2025,
 19,
 14,
 22,
 4,
 1920,
 4613,
 469,
 4,
 22,
 71,
 87,
 12,
 16,
 43,
 530,
 38,
 76,
 15,
 13,
 1247,
 4,
 22,
 17,
 515,
 17,
 12,
 16,
 626,
 18,
 2,
 5,
 62,
 386,
 12,
 8,
 316,
 8,
 106,
 5,
 4,
 2223,
 5244,
 16,
 480,
 66,
 3785,
 33,
 4,
 130,
 12,
 16,
 38,
 619,
 5,
 25,
 124,
 51,
 36,
 135,
 48,
 25,
 1415,
 33,
 6,
 22,
 12,
 215,
 28,
 77,
 52,
 5,
 14,
 407,
 16,
 82,
 2,
 8,
 4,
 107,
 117,
 5952,
 15,
 256,
 4,
 2,
 7,
 3766,
 5,
 723,
 36,
 71,
 43,
 530,
 476,
 26,
 400,
 317,
 46,
 7,
 4,
 2,
 1029,
 13,
 104,
 88,
 4,
 381,
 15,
 297,
 98,
 32,
 2071,
 56,
 26,
 141,
 6,
 194,
 7486,
 18,
 4,
 226,
 22,
 21,
 134,
 476,
 26,
 480,
 5,
 144,
 30,
 5535,
 18,
 51,
 36,
 28,
 224,
 92,
 25,
 104,
 4,
 226,
 65,
 16,
 38,
 1334,
 88,
 12,
 16,
 283,
 5,
 16,
 4472,
 113,
 103,
 32,
 15,
 16,
 5345,
 19,
 178,
 32]

In [3]:
# 첫번째 리뷰의 답 : 긍정
train_labels[1]

0

In [6]:
max([max(sequence) for sequence in train_data])

9999

In [8]:
word_index = imdb.get_word_index()
reverse_word_index = dict(
    [(value, key) for (key, value) in word_index.items()])
decoded_review = " ".join(
    [reverse_word_index.get(i - 3, "?") for i in train_data[0]])
decoded_review

"? this film was just brilliant casting location scenery story direction everyone's really suited the part they played and you could just imagine being there robert ? is an amazing actor and now the same being director ? father came from the same scottish island as myself so i loved the fact there was a real connection with this film the witty remarks throughout the film were great it was just brilliant so much that i bought the film as soon as it was released for ? and would recommend it to everyone to watch and the fly fishing was amazing really cried at the end it was so sad and you know what they say if you cry at a film it must have been good and this definitely was also ? to the two little boy's that played the ? of norman and paul they were just brilliant children are often left out of the ? list i think because the stars that play them all grown up are such a big profile for the whole film but these children are amazing and should be praised for what they have done don't you think the whole story was so lovely because it was true and was someone's life after all that was shared with us all"

In [11]:
print(len(train_data[0]))
print(len(train_data[1]))

218
189

In [12]:
import numpy as np
# sequences : 리뷰 , 
def vectorize_sequences(sequences, dimension=10000):
    results = np.zeros((len(sequences), dimension))
    for i, sequence in enumerate(sequences):
        for j in sequence:
            results[i, j] = 1.
    return results
x_train = vectorize_sequences(train_data)
x_test = vectorize_sequences(test_data)

In [18]:
for i in range(100):
    print(len(train_data[i]), len(x_train[i]))

218 10000
189 10000
141 10000
550 10000
147 10000
43 10000
123 10000
562 10000
233 10000
130 10000
450 10000
99 10000
117 10000
238 10000
109 10000
129 10000
163 10000
752 10000
212 10000
177 10000
129 10000
140 10000
256 10000
888 10000
93 10000
142 10000
220 10000
193 10000
171 10000
221 10000
174 10000
647 10000
233 10000
162 10000
597 10000
234 10000
51 10000
336 10000
139 10000
231 10000
704 10000
142 10000
861 10000
132 10000
122 10000
570 10000
55 10000
214 10000
103 10000
186 10000
113 10000
169 10000
469 10000
138 10000
302 10000
766 10000
351 10000
146 10000
59 10000
206 10000
107 10000
152 10000
186 10000
431 10000
147 10000
684 10000
383 10000
324 10000
252 10000
263 10000
787 10000
211 10000
314 10000
118 10000
390 10000
132 10000
710 10000
306 10000
167 10000
115 10000
95 10000
158 10000
156 10000
82 10000
502 10000
314 10000
190 10000
174 10000
60 10000
145 10000
214 10000
659 10000
408 10000
515 10000
461 10000
202 10000
238 10000
170 10000
107 10000
171 10000

In [21]:
print(type(x_train[0]))
print(x_train[0].dtype)

<class 'numpy.ndarray'>
float64

In [23]:
# type(train_labels), train_labels.dtype
y_train = np.asarray(train_labels).astype('float32')
y_test = np.asarray(test_labels).astype('float32')

(numpy.ndarray, dtype('int64'))